<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-img">
			<img src="<%= RELATIVE_PATH %>img/mv.jpg" alt="img" >
		</div>
	</section>
	<section class="sec-content">
		<h2 class="content-heading">基本的に</h2>
		<div class="inner">
			<div class="block-content">
				<div class="block-content__item">
					<span class="block-content__ttl"><span>こんな悩みありませんか？</span></span>
					<ul>
						<li>案件はあるのにエンジニアがいない</li>
						<li>優秀なエンジニアが採用できない</li>
						<li>エンジニア採用で資金をかけすぎている</li>
					</ul>
				</div>
				<div class="block-content__item">
					<span class="block-content__ttl"><span>こんな悩みありませんか？</span></span>
					<ul>
						<li>案件はあるのにエンジニアがいない</li>
						<li>優秀なエンジニアが採用できない</li>
						<li>エンジニア採用で資金をかけすぎている</li>
					</ul>
				</div>
			</div>
			<div class="block-logo">
				<span class="c-ttl__01">掲載メディア</span>
				<ul class="block-logo__list">
					<li>
						<img src="<%= RELATIVE_PATH %>img/logo-other.png" alt="img" >
					</li>
					<li>
						<img src="<%= RELATIVE_PATH %>img/logo-other.png" alt="img" >
					</li>
					<li>
						<img src="<%= RELATIVE_PATH %>img/logo-other.png" alt="img" >
					</li>
					<li>
						<img src="<%= RELATIVE_PATH %>img/logo-other.png" alt="img" >
					</li>
					<li>
						<img src="<%= RELATIVE_PATH %>img/logo-other.png" alt="img" >
					</li>
					<li>
						<img src="<%= RELATIVE_PATH %>img/logo-other.png" alt="img" >
					</li>
				</ul>
			</div>
			<div class="block-contact" id="contact">
				<h2 class="c-ttl__02">
					<img src="<%= RELATIVE_PATH %>img/logo.svg" alt="img" >
					<span>掲載メディア</span>
				</h2>
				<form>
					<dl class="block-contact__item">
						<dt>
							掲載 <span>掲載</span>
						</dt>
						<dd>
							<input type="text" class="form-control">
							<p class="error">error</p>
						</dd>
					</dl>
					<dl class="block-contact__item">
						<dt>
							掲載 <span>掲載</span>
						</dt>
						<dd>
							<input type="text" class="form-control">
						</dd>
					</dl>
					<dl class="block-contact__item">
						<dt>
							掲載 <span>掲載</span>
						</dt>
						<dd>
							<input type="text" class="form-control">
						</dd>
					</dl>
					<dl class="block-contact__item">
						<dt>
							掲載 <span>掲載</span>
						</dt>
						<dd>
							<input type="text" class="form-control">
						</dd>
					</dl>
					<dl class="block-contact__item">
						<dt>
							掲載 <span>掲載</span>
						</dt>
						<dd>
							<input type="text" class="form-control">
						</dd>
					</dl>
					<div class="block-contact__check">
						<div class="pure-list__input">
							<input name="checkbox" type="checkbox">
							<span>掲載メディア</span>
						</div>
					</div>
					<div class="block-contact__sub">
						<button class="c-btn">掲載メディア</button>
					</div>
				</form>

			</div>
			<h2 class="c-ttl__02">
				<img src="<%= RELATIVE_PATH %>img/logo.svg" alt="img" >
				<span>掲載メディア</span>
			</h2>
			<div class="block-note c-txt__basic">
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
				<p>
					<strong>アスリート、</strong><br>
					アスリート、エンターテイナー、ボクサー、司会者......フィットネス・フリークのクルーは、レースアップ＆スローダウンという意志によって結ばれている。私たちは、<br>
					あなたの努力を鼓舞し、あなたの勇気を称賛し、ワークアウトがとても良い時間であることを思い出させるためにここにいます。
				</p>
			</div>
		</div>
	</section>
</main>